@model SharedContactWithViewBagVM

@{
    ViewData["Title"] = "Share Contact";
}

<h1>Share Contact With</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="ShareWithViewBag">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Id" />
            <div class="form-group">
                <label asp-for="@Model.SelectedUserId" class="control-label"></label>
                <select asp-for="@Model.SelectedUserId" asp-items="@ViewBag.Users" class="form-control">
                    <option disabled selected>---Select User---</option>
                </select>
                <span asp-validation-for="@Model.SelectedUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Share" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}